<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/personal/static/css/bootstrap.min.css">
    <title>Registrar Usuario</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="title text-center">Registrar Usuario</h2>
                    <form method="post" id="formulario" action="/personal/registrarusuario/">
                        <input type="text" class="form-control mb-3" name="nombre" placeholder="Nombre Completo" required>
                        <input type="text" class="form-control mb-3" name="usuario" placeholder="Usuario" required>
                        <input type="password" class="form-control mb-3" name="contrasena" placeholder="Contraseña" required>
                        <button type="submit" id="btnRegistrar" class="btn btn-block btn-lg btn-primary m-t-3">Registrar</button>
            </div>
            <div class="row"></div>
        </div>
    </header>
    
    <main>

    </main>

    <footer>

    </footer>

    <script src="/personal/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>