main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d22b2e;
    padding: 0px;
    margin: 50px;
}

btnRegistrar {
    background-color: #d22b2e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
